<h2>Usteded Actualmente no tiene un carrito disponible.</h2>
<p>Debe desloguearse y volver a loguearse. Gracias</p>
<form action="/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>